@()

<!-- jQuery -->
<script src="@routes.Assets.versioned("vendors/jquery/dist/jquery.min.js")"></script>

<!-- Bootstrap -->
<script src="@routes.Assets.versioned("vendors/bootstrap/dist/js/bootstrap.min.js")"></script>

<!-- FastClick -->
<script src="@routes.Assets.versioned("vendors/fastclick/lib/fastclick.js")"></script>

<!-- NProgress -->
<script src="@routes.Assets.versioned("vendors/nprogress/nprogress.js")"></script>

<!-- Chart.js -->
<script src="@routes.Assets.versioned("vendors/Chart.js/dist/Chart.min.js")"></script>

<!-- gauge.js -->
<script src="@routes.Assets.versioned("vendors/gauge.js/dist/gauge.min.js")"></script>

<!-- bootstrap-progressbar -->
<script src="@routes.Assets.versioned("vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")"></script>

<!-- iCheck -->
<script src="@routes.Assets.versioned("vendors/iCheck/icheck.min.js")"></script>

<!-- Skycons -->
<script src="@routes.Assets.versioned("vendors/skycons/skycons.js")"></script>

<!-- Flot -->
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.pie.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.time.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.stack.js")"></script>
<script src="@routes.Assets.versioned("vendors/Flot/jquery.flot.resize.js")"></script>

<!-- Flot plugins -->
<script src="@routes.Assets.versioned("vendors/flot.orderbars/js/jquery.flot.orderBars.js")"></script>
<script src="@routes.Assets.versioned("vendors/flot-spline/js/jquery.flot.spline.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/flot.curvedlines/curvedLines.js")"></script>

<!-- DateJS -->
<script src="@routes.Assets.versioned("vendors/DateJS/build/date.js")"></script>

<!-- JQVMap -->
<script src="@routes.Assets.versioned("vendors/jqvmap/dist/jquery.vmap.js")"></script>
<script src="@routes.Assets.versioned("vendors/jqvmap/dist/maps/jquery.vmap.world.js")"></script>
<script src="@routes.Assets.versioned("vendors/jqvmap/examples/js/jquery.vmap.sampledata.js")"></script>

<!-- bootstrap-daterangepicker -->
<script src="@routes.Assets.versioned("vendors/moment/min/moment.min.js")"></script>
<script src="@routes.Assets.versioned("vendors/bootstrap-daterangepicker/daterangepicker.js")"></script>

<!-- Custom Theme Scripts -->
<script src="@routes.Assets.versioned("js/main.js")"></script>
