@()
<!-- Bootstrap core CSS -->
<link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">

<link href="@routes.Assets.versioned("fonts/css/font-awesome.min.css")" rel="stylesheet">
<link href="@routes.Assets.versioned("css/animate.min.css")" rel="stylesheet">

<!-- Custom styling plus plugins -->
<link href="@routes.Assets.versioned("css/custom.css")" rel="stylesheet">
<link type="text/css" href="@routes.Assets.versioned("css/maps/jquery-jvectormap-2.0.3.css")" rel="stylesheet" />
<link href="@routes.Assets.versioned("css/icheck/flat/green.css")" rel="stylesheet" />
<link href="@routes.Assets.versioned("css/floatexamples.css")" rel="stylesheet" type="text/css" />

<script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
<script src="@routes.Assets.versioned("js/nprogress.js")"></script>"

<!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->