@()

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

	<div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
			<li><a href="@routes.AdminAppController.dashboard"><i class="fa fa-dashboard"></i> @Messages("menu.sidebar.dashboard") </a></li>
			<li><a href="@routes.AdminAppController.connections"><i class="fa fa-wifi"></i> @Messages("menu.sidebar.connections") </a></li>
			<li><a><i class="fa fa-gears"></i>
				@Messages("menu.sidebar.portal-settings") <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu" style="display: none">
					<li><a href="general_elements.html">@Messages("menu.sidebar.portal-settings.applications")</a></li>
					<li><a href="media_gallery.html">@Messages("menu.sidebar.portal-settings.login")</a></li>
				</ul>
			</li>
			<li><a><i class="fa fa-users"></i> @Messages("menu.sidebar.users") </a></li>

			<li><a><i class="fa fa-stack-exchange"></i>
				@Messages("menu.sidebar.surveys") <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu" style="display: none">
					<li><a href="@routes.AdminAppController.surveys">@Messages("menu.sidebar.surveys.create")</a></li>
					<li><a href="@routes.AdminAppController.allSurveys">@Messages("menu.sidebar.surveys.view")</a></li>
				</ul>
			</li>

			<li><a href="@routes.AdminAppController.analytics"><i class="fa fa-area-chart"></i> @Messages("menu.sidebar.analytics") </a></li>
		</ul>
	</div>
	<div class="menu_section">
		<h3>Live On</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-bug"></i>
				Additional Pages <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu" style="display: none">
					<li><a href="e_commerce.html">E-commerce</a>
					</li>
					<li><a href="projects.html">Projects</a>
					</li>
					<li><a href="project_detail.html">Project Detail</a>
					</li>
					<li><a href="contacts.html">Contacts</a>
					</li>
					<li><a href="profile.html">Profile</a>
					</li>
				</ul>
			</li>
			<li><a><i class="fa fa-windows"></i>
				Extras <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu" style="display: none">
					<li><a href="page_404.html">404 Error</a>
					</li>
					<li><a href="page_500.html">500 Error</a>
					</li>
					<li><a href="plain_page.html">Plain Page</a>
					</li>
					<li><a href="login.html">Login Page</a>
					</li>
					<li><a href="pricing_tables.html">Pricing Tables</a>
					</li>

				</ul>
			</li>
			<li><a><i class="fa fa-laptop"></i>
				Landing Page <span class="label label-success pull-right">Coming Soon</span></a>
			</li>
		</ul>
	</div>

</div>
<!-- /sidebar menu -->