@import org.pac4j.core.profile.CommonProfile
@import java.util.{List => JList}
@import views.dto.SurveySummary

@(profile: CommonProfile, surveys: JList[SurveySummary])

@username = @{profile.getAttribute("realName").toString()}

<!DOCTYPE html>
<html lang="es">

<head>
    @parts.head("WiFree")
    @parts.js.surveys_js()
</head>

<body class="nav-md">
<div class="container body">

    <div class="main_container">

        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                @parts.menu_site_title()

                @parts.menu_profile_quickinfo(username)

                <br />

                @parts.sidebar_menu()
                @parts.menu_footer_buttons()

            </div>
        </div>

        @parts.top_navigation(username)

        <!-- Page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <h1>All Surveys</h1>
                    @surveys.map {summary =>
                        <h3>@summary.title</h3>
                        <h2>@summary.id</h2>
                        <h2>@summary.creation</h2>
                    }
                </div>
        </div>

    </div>

    @parts.resources_body()

</body>

</html>