@import org.pac4j.core.profile.CommonProfile
@import java.util.{List => JList}
@import views.dto.SurveySummary

@(profile: CommonProfile, summaries: JList[SurveySummary])

@username = @{profile.getAttribute("realName").toString()}

<!DOCTYPE html>
<html lang="es">

<head>
    @parts.head("WiFree")

    <script>
        $(document).ready(function() {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
    <style>
        .clickable-row {
            cursor: pointer;
        }
    </style>
</head>

<body class="nav-md">
<div class="container body">

    <div class="main_container">

        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                @parts.menu_site_title()

                @parts.menu_profile_quickinfo(username)

                <br />

                @parts.sidebar_menu()
                @parts.menu_footer_buttons()

            </div>
        </div>

        @parts.top_navigation(username)

        <!-- Page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Encuestas (TODO)</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="surveystable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Titulo (TODO)</th>
                                        <th>Fecha de creación (TODO)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @summaries.map { summary =>
                                    <tr class="clickable-row" data-href="@routes.AdminAppController.survey(summary.id)">
                                        <td class="a-center">@summary.id</td>
                                        <td>@summary.title</td>
                                        <td>@summary.creation</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    @parts.resources_body()

</body>

</html>