@import play.api.libs.json.Json
@import play.api.libs.json.JsValue
@import org.pac4j.core.profile.CommonProfile
@import java.util.{List => JList}

@(profileList: JList[CommonProfile], graphicDataJson: JsValue ,graphicDataJson2: JsValue, graphicDataJson3: JsValue, graphicDataJson4: JsValue, graphicDataJson5: JsValue, graphicDataJson6: JsValue, graphicDataJson7: JsValue, graphicDataJson8: JsValue, graphicDataJson9: JsValue, graphicDataJson10: JsValue, graphicDataJson11: JsValue, graphicDataJson12: JsValue, graphicDataJson13: JsValue, graphicDataJson14: JsValue, graphicDataJson15: JsValue, graphicDataJson16: JsValue, graphicDataJson17: JsValue, graphicDataJson18: JsValue)

@graphicData = @{graphicDataJson.toString()}
@graphicData2 = @{graphicDataJson2.toString()}
@graphicData3 = @{graphicDataJson3.toString()}
@graphicData4 = @{graphicDataJson4.toString()} <!--Promedio de visitas por dia en el rango horario 0am a 8 am-->
@graphicData5 = @{graphicDataJson5.toString()} <!--Promedio de visitas por dia en el rango horario 8am a 11 am-->
@graphicData6 = @{graphicDataJson6.toString()} <!--Promedio de visitas por dia en el rango horario 11am a 1 pm-->
@graphicData7 = @{graphicDataJson7.toString()} <!--Promedio de visitas por dia en el rango horario 1pm a 4 pm-->
@graphicData8 = @{graphicDataJson8.toString()} <!--Promedio de visitas por dia en el rango horario 4pm a 8 pm-->
@graphicData9 = @{graphicDataJson9.toString()} <!--Promedio de visitas por dia en el rango horario 8pm a 0 am-->
@graphicData10 = @{graphicDataJson10.toString()} <!--Visitas con duración menor a 15 minutos de toda la última semana-->
@graphicData11 = @{graphicDataJson11.toString()} <!--Visitas con duración 15-30min-->
@graphicData12 = @{graphicDataJson12.toString()} <!--Visitas con duración 30-45min-->
@graphicData13 = @{graphicDataJson13.toString()} <!--Visitas con duración 45-60min-->
@graphicData14 = @{graphicDataJson14.toString()} <!--Visitas con duración >60min-->
@graphicData15 = @{graphicDataJson15.toString()} <!--Visitas de la semana 1-->
@graphicData16 = @{graphicDataJson16.toString()} <!--Visitas de la semana 2-->
@graphicData17 = @{graphicDataJson17.toString()} <!--Visitas de la semana 3-->
@graphicData18 = @{graphicDataJson18.toString()} <!--Visitas de la semana 4-->

<!DOCTYPE html>
<html lang="es">

<head>
	@parts.head("WiFree")
</head>

<body class="nav-md">
<div class="container body">

	<div class="main_container">

		<div class="col-md-3 left_col">
			<div class="left_col scroll-view">

				<div class="navbar nav_title" style="border: 0;">
					<a href="index.html" class="site_title"><i class="fa fa-paw"></i>
						<span>WiFree</span>
					</a>
				</div>
				<div class="clearfix"></div>

				@parts.menu_profile_quickinfo()

				<br />

				@parts.sidebar_menu()
				@parts.menu_footer_buttons()

			</div>
		</div>

		@parts.top_navigation()

		<!-- Page content -->
		<div class="right_col" role="main">
			<div class="row">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_content">
							<div id="porMes" style="height:350px;"></div>
						</div>

					</div>
					<div class="x_panel">

						<div class="x_content">
							<div id="porGenero" style="height:350px;"></div>
						</div>

					</div>
					<div class="x_panel">

						<div class="x_content">
							<div id="porDiayHora" style="height:350px;"></div>
						</div>

					</div>
					<div class="x_panel">

						<div class="x_content">
							<div id="porDuracion" style="height:350px;"></div>
						</div>

					</div>
					<div class="x_panel">

						<div class="x_content">
							<div id="ultimasCuatro" style="height:350px;"></div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

	@parts.resources_body()

	<script>
					 //Grafico 1: Total de visitas por mes
            var grafico1 = echarts.init(document.getElementById('porMes'), theme);
            var graphicData = toJson('@graphicData');
            grafico1.setOption({
                title: {
                   text: 'Visitas por Mes',
                  // subtext: 'Subtitulo'
                },
                tooltip: {
                  trigger: 'axis'
                },
                legend: {
                  data: ['Visitas']
                },
                toolbox: {
                  show: false
                },
                calculable: false,
                xAxis: [{
                  type: 'category',
                  data: graphicData.map(function(e) { return e.name; }) //Trae el nombre de los meses
                }],
                yAxis: [{
                  type: 'value'
                }],
                series: [{
                  name: 'Visitas',
                  type: 'bar',
                  data: graphicData.map(function(e) { return e.value; }), //Trae el valor de cada mes
                  markPoint: {
                    data: [{
                      type: 'max',
                      name: 'Máxima cantidad de visitas'
                    }, {
                      type: 'min',
                      name: 'Mínimo de visitas'
                    }]
                  },
                  markLine: {
                    data: [{
                      type: 'average',
                      name: 'Promedio de visitas'
                    }]
                  }
                }]
              });



				//Visitas por mes y por género
            	var graficoPorGenero = echarts.init(document.getElementById('porGenero'), theme);
           		var graphicData2 = toJson('@graphicData2');
              	var graphicData3 = toJson('@graphicData3');
     			graficoPorGenero.setOption({
                    title: {
                      text: 'Visitas por mes y por género',
                      //subtext: 'Graph Sub-text'
                    },

                    tooltip: {
                      trigger: 'axis'
                    },
                    legend: {
                      data: ['Hombres', 'Mujeres']
                    },
                    toolbox: {
                      show: false
                    },
                    calculable: false,
                    xAxis: [{
                      type: 'category',
                      data: graphicData2.map(function(e) { return e.name; })
                    }],
                    yAxis: [{
                      type: 'value'
                    }],
                    series: [{
                      name: 'Hombres',
                      type: 'bar',
                      data: graphicData2.map(function(e) { return e.value; }),
                      markPoint: {
                        data: [{
                          type: 'max',
                          name: 'Cantidad máxima de visitas hombres'
                        }, {
                          type: 'min',
                          name: 'Cantidad mínima de visitas hombres'
                        }]
                      },
                      markLine: {
                        data: [{
                          type: 'average',
                          name: 'Promedio de visitas de hombres'
                        }]
                      }
                    }, {
                      name: 'Mujeres',
                      type: 'bar',
                      data: graphicData3.map(function(e) { return e.value; }),
                      markPoint: {
                        data: [{
                          type: 'max',
                          name: 'Cantidad máxima de visitas de mujeres'
                        }, {
                             type: 'min',
                          name: 'Cantidad mínima de visitas de mujeres'
                        }]
                      },
                      markLine: {
                        data: [{
                          type: 'average',
                          name: 'Promedio de visitas de mujeres'
                        }]
                      }
                    }]
                  });


				  //Gráfico por dia y rango horario (es promedio de visitas histórico por dia y hora)
				  var echartLine = echarts.init(document.getElementById('porDiayHora'), theme);
				  var graphicData4 = toJson('@graphicData4');
				  var graphicData5 = toJson('@graphicData5');
				  var graphicData6 = toJson('@graphicData6');
				  var graphicData7 = toJson('@graphicData7');
				  var graphicData8 = toJson('@graphicData8');
				  var graphicData9 = toJson('@graphicData9');
				  echartLine.setOption({
					title: {
					  text: 'Promedio de visitas por rangos horarios',
					 // subtext: 'Subtitle'
					},
					tooltip: {
					  trigger: 'axis'
					},
					legend: {
					  x: 220,
					  y: 40,
					  data: ['0am-8am', '8am-11am', '11am-1pm', '1pm-4pm', '4pm-8pm', '8pm-0am']
					},
					toolbox: {
					  show: true,
					  feature: {
						magicType: {
						  show: true,
						  title: {
							line: 'Line',
							bar: 'Bar',
							stack: 'Stack',
							tiled: 'Tiled'
						  },
						  type: ['line', 'bar', 'stack', 'tiled']
						},
						restore: {
						  show: true,
						  title: "Restore"
						},
						saveAsImage: {
						  show: true,
						  title: "Save Image"
						}
					  }
					},
					calculable: true,
					xAxis: [{
					  type: 'category',
					  boundaryGap: false,
					  data: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom']
					}],
					yAxis: [{
					  type: 'value'
					}],
					series: [{
					  name: '0am-8am',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData4.map(function(e) { return e.value; }) //Rango 0am a 8am
					}, {
					  name: '8am-11am',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData5.map(function(e) { return e.value; }) //Rango 8am a 11am
					}, {
					  name: '11am-1pm',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData6.map(function(e) { return e.value; }) //Rango 11am a 1pm
					}, {
					  name: '1pm-4pm',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData7.map(function(e) { return e.value; }) //Rango 1pm a 4pm
					}, {
					  name: '4pm-8pm',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData8.map(function(e) { return e.value; }) //Rango 4pm a 8pm
					}, {
					  name: '8pm-0am',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData9.map(function(e) { return e.value; }) //Rango 8pm a 0am
					}]
				  });


            //Gráfico con visitas por duración de la última semana
				  var echartLine = echarts.init(document.getElementById('porDuracion'), theme);
				  var graphicData10 = toJson('@graphicData10');
				  var graphicData11 = toJson('@graphicData11');
				  var graphicData12 = toJson('@graphicData12');
				  var graphicData13 = toJson('@graphicData13');
				  var graphicData14 = toJson('@graphicData14');
				  echartLine.setOption({
					title: {
					  text: 'Visitas por duración en la última semana',
					 // subtext: 'Subtitle'
					},
					tooltip: {
					  trigger: 'axis'
					},
					legend: {
					  x: 220,
					  y: 40,
					  data: ['<15min', '15-30min', '30-45min', '45-60min', '>60min']
					},
					toolbox: {
					  show: true,
					  feature: {
						magicType: {
						  show: true,
						  title: {
							line: 'Line',
							bar: 'Bar',
							stack: 'Stack',
							tiled: 'Tiled'
						  },
						  type: ['line', 'bar', 'stack', 'tiled']
						},
						restore: {
						  show: true,
						  title: "Restore"
						},
						saveAsImage: {
						  show: true,
						  title: "Save Image"
						}
					  }
					},
					calculable: true,
					xAxis: [{
					  type: 'category',
					  boundaryGap: false,
					  data: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom']
					}],
					yAxis: [{
					  type: 'value'
					}],
					series: [{
					  name: '<15min',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData10.map(function(e) { return e.value; })
					}, {
					  name: '15-30min',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData11.map(function(e) { return e.value; })
					}, {
					  name: '30-45min',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData12.map(function(e) { return e.value; })
					}, {
					  name: '45-60min',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData13.map(function(e) { return e.value; })
					}, {
					  name: '>60min',
					  type: 'line',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData14.map(function(e) { return e.value; })
					}]
				  });



                  //Gráfico con visitas por duración de la última semana
				  var echartLine = echarts.init(document.getElementById('ultimasCuatro'), theme);
				  var graphicData15 = toJson('@graphicData15');
				  var graphicData16 = toJson('@graphicData16');
				  var graphicData17 = toJson('@graphicData17');
				  var graphicData18 = toJson('@graphicData18');
				  echartLine.setOption({
					title: {
					  text: 'Visitas de las últimas cuatro semanas',
					 // subtext: 'Subtitle'
					},
					tooltip: {
					  trigger: 'axis'
					},
					legend: {
					  x: 220,
					  y: 40,
					  data: ['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4']
					},
					toolbox: {
					  show: true,
					  feature: {
						magicType: {
						  show: true,
						  title: {
<!--							line: 'Line',-->
							bar: 'Bar',
							stack: 'Stack',
							tiled: 'Tiled'
						  },
<!--						  type: ['line', 'bar', 'stack', 'tiled']-->
                              type: ['bar', 'stack', 'tiled']
						},
						restore: {
						  show: true,
						  title: "Restore"
						},
						saveAsImage: {
						  show: true,
						  title: "Save Image"
						}
					  }
					},
					calculable: true,
					xAxis: [{
					  type: 'category',
					  boundaryGap: false,
					  data: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom']
					}],
					yAxis: [{
					  type: 'value'
					}],
					series: [{
					  name: 'Semana 1',
					  type: 'bar',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData15.map(function(e) { return e.value; })
					}, {
					  name: 'Semana 2',
					  type: 'bar',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData16.map(function(e) { return e.value; })
					}, {
					  name: 'Semana 3',
					  type: 'bar',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData17.map(function(e) { return e.value; })
					}, {
					  name: 'Semana 4',
					  type: 'bar',
					  smooth: true,
					  itemStyle: {
						normal: {
						  areaStyle: {
							type: 'default'
						  }
						}
					  },
					  data: graphicData18.map(function(e) { return e.value; })
					}]
				  });


		</script>

</body>

</html>