@import views.dto.ConnectedUser
@import org.pac4j.core.profile.CommonProfile
@import models.types.LoginMethodType

@(networkConfigurationForm: Form[PortalNetworkConfiguration],
	connectedUsers: List[ConnectedUser],
	profile: CommonProfile)

@username = @{profile.getAttribute("realName").toString()}

<!DOCTYPE html>
<html lang="es">

	<head>
		@parts.head("WiFree")

		<link href="@routes.Assets.versioned("../../../public/js/datatables/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.versioned("../../../public/js/datatables/buttons.bootstrap.min.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.versioned("../../../public/js/datatables/fixedHeader.bootstrap.min.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.versioned("../../../public/js/datatables/responsive.bootstrap.min.css")" rel="stylesheet" type="text/css" />
		<link href="@routes.Assets.versioned("../../../public/js/datatables/scroller.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	</head>

	<body class="nav-md">
		<div class="container body">

			<div class="main_container">

				<div class="col-md-3 left_col">
					<div class="left_col scroll-view">

						@parts.menu_site_title()

						@parts.menu_profile_quickinfo(username)

						<br />

						@parts.sidebar_menu()
						@parts.menu_footer_buttons()

					</div>
				</div>

				@parts.top_navigation(username)

				<!-- page content -->
				<div class="right_col" role="main">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>@Messages("connections.title.timeout-settings")</h2>
									<!-- TODO: insert toolboox -->
									<div class="clearfix"></div>
								</div>
								<div class="x-content">
									@helper.form(controllers.admin.routes.ConnectionsController.setConnectionTimeout(), 'id -> "connectionTimeoutForm", Symbol("data-parsley-validate") -> "true", 'class -> "form-horizontal form-label-left") {
										<div class="form-group row">
											<div class="col-md-3 col-sm-3 col-xs-6">
												@helper.inputText(networkConfigurationForm("connectionTimeout"), '_label -> Messages("connections.label.max-timeout"), 'type -> "number", 'required -> "required", 'class -> "form-control col-md-7 col-xs-12", 'min -> "1")
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-3 col-sm-3 col-xs-6">
												<div class="radio">
													@helper.inputRadioGroup(networkConfigurationForm("loginMethod"), LoginMethodType.portalLoginTypes(), '_label -> Messages("connections.label.login-method"), 'required -> "required", 'class -> "")
												</div>
											</div>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<button type="submit" class="btn btn-success">@Messages("submit")</button>
											</div>
										</div>
									}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>@Messages("connections.title.connected-users")</h2>
										<!-- TODO: insert toolboox -->
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<table id="usertable" class="table table-striped table-bordered">
										<thead>
											<tr>
												<th>
													<input type="checkbox" id="check-all" class="flat">
												</th>
												<th>@Messages("connections.users-table.header.user-name")</th>
												<th>@Messages("connections.users-table.header.connection-start")</th>
												<th>@Messages("connections.users-table.header.user-device")</th>
											</tr>
										</thead>
										<tbody>
											@connectedUsers.map { user =>
												<tr>
													<td class="a-center">
														<input type="checkbox" class="flat" name="table_records">
													</td>
													<td>@user.username</td>
													<td>@user.connectionStart</td>
													<td>@user.device</td>
												</tr>
											}
											<tr>
												<td class="a-center ">
													<input type="checkbox" class="flat" name="table_records">
												</td>
												<td>Tiger Nixon</td>
												<td>System Architect</td>
												<td>Edinburgh</td>
											</tr>
											<tr>
												<td class="a-center ">
													<input type="checkbox" class="flat" name="table_records">
												</td>
												<td>Garrett Winters</td>
												<td>Accountant</td>
												<td>Tokyo</td>
											</tr>
											<tr>
												<td class="a-center ">
													<input type="checkbox" class="flat" name="table_records">
												</td>
												<td>Ashton Cox</td>
												<td>Junior Technical Author</td>
												<td>San Francisco</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					@parts.footer_content()

				</div>
				<!-- /page content -->

			</div>

		</div>

		@parts.notifications()

		@parts.js.daterangepicker()
		@parts.js.chart_js()
		@parts.js.skycons()

		<!-- pace -->
		<script>
				$(function () {
					$('#world-map-gdp').vectorMap({
						map: 'world_mill_en',
						backgroundColor: 'transparent',
						zoomOnScroll: false,
						series: {
							regions: [{
								values: gdpData,
								scale: ['#E6F2F0', '#149B7E'],
								normalizeFunction: 'polynomial'
							}]
						},
						onRegionTipShow: function (e, el, code) {
							el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
						}
					});
				});
		</script>

		<!-- dashbord linegraph -->
		<script>
				Chart.defaults.global.legend = {
					enabled: false
				};

				var data = {
					labels: [
						"Symbian",
						"Blackberry",
						"Other",
						"Android",
						"IOS"
					],
					datasets: [{
						data: [15, 20, 30, 10, 30],
						backgroundColor: [
							"#BDC3C7",
							"#9B59B6",
							"#455C73",
							"#26B99A",
							"#3498DB"
						],
						hoverBackgroundColor: [
							"#CFD4D8",
							"#B370CF",
							"#34495E",
							"#36CAAB",
							"#49A9EA"
						]

					}]
				};

				var canvasDoughnut = new Chart(document.getElementById("canvas1"), {
					type: 'doughnut',
					tooltipFillColor: "rgba(51, 51, 51, 0.55)",
					data: data
				});
		</script>

		<!-- datepicker -->
		<script type="text/javascript">
				$(document).ready(function () {

					var cb = function (start, end, label) {
						console.log(start.toISOString(), end.toISOString(), label);
						$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
						//alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
					}

					var optionSet1 = {
						startDate: moment().subtract(29, 'days'),
						endDate: moment(),
						minDate: '01/01/2012',
						maxDate: '12/31/2015',
						dateLimit: {
							days: 60
						},
						showDropdowns: true,
						showWeekNumbers: true,
						timePicker: false,
						timePickerIncrement: 1,
						timePicker12Hour: true,
						ranges: {
							'Today': [moment(), moment()],
							'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
							'Last 7 Days': [moment().subtract(6, 'days'), moment()],
							'Last 30 Days': [moment().subtract(29, 'days'), moment()],
							'This Month': [moment().startOf('month'), moment().endOf('month')],
							'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
						},
						opens: 'left',
						buttonClasses: ['btn btn-default'],
						applyClass: 'btn-small btn-primary',
						cancelClass: 'btn-small',
						format: 'MM/DD/YYYY',
						separator: ' to ',
						locale: {
							applyLabel: 'Submit',
							cancelLabel: 'Clear',
							fromLabel: 'From',
							toLabel: 'To',
							customRangeLabel: 'Custom',
							daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
							monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
							firstDay: 1
						}
					};
					$('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
					$('#reportrange').daterangepicker(optionSet1, cb);
					$('#reportrange').on('show.daterangepicker', function () {
						console.log("show event fired");
					});
					$('#reportrange').on('hide.daterangepicker', function () {
						console.log("hide event fired");
					});
					$('#reportrange').on('apply.daterangepicker', function (ev, picker) {
						console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
					});
					$('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
						console.log("cancel event fired");
					});
					$('#options1').click(function () {
						$('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
					});
					$('#options2').click(function () {
						$('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
					});
					$('#destroy').click(function () {
						$('#reportrange').data('daterangepicker').remove();
					});
				});
		</script>

		<script>
				NProgress.done();
		</script>

		@parts.resources_body()

		<!-- form validation -->
		<script type="text/javascript" src="@routes.Assets.versioned("../../../public/js/parsley/parsley.min.js")"></script>

			<!-- Datatables-->
		<script src="@routes.Assets.versioned("../../../public/js/datatables/jquery.dataTables.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/dataTables.bootstrap.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/dataTables.buttons.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/buttons.bootstrap.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/jszip.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/pdfmake.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/vfs_fonts.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/buttons.html5.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/buttons.print.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/dataTables.fixedHeader.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/dataTables.keyTable.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/dataTables.responsive.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/responsive.bootstrap.min.js")"></script>
		<script src="@routes.Assets.versioned("../../../public/js/datatables/dataTables.scroller.min.js")"></script>

		<!-- pace -->
		<script src="@routes.Assets.versioned("../../../public/js/pace/pace.min.js")"></script>
		<script>
			var handleDataTableButtons = function() {
				"use strict";
				0 !== $("#usertable").length && $("#usertable").DataTable({
					dom: "Bfrtip",
					buttons: [{
						extend: "copy",
						className: "btn-sm"
					}, {
						extend: "csv",
						className: "btn-sm"
					}, {
						extend: "excel",
						className: "btn-sm"
					}, {
						extend: "pdf",
						className: "btn-sm"
					}, {
						extend: "print",
						className: "btn-sm"
					}],
					responsive: !0
				})
			},
			TableManageButtons = function() {
				"use strict";
				return {
					init: function() {
						handleDataTableButtons()
					}
				}
			}();
		</script>
		<script type="text/javascript">
				$(document).ready(function() {
					$('#usertable').dataTable();
					$('#usertable').DataTable({
						keys: true
					});
					$('#usertable').DataTable();
					$('#datatable-scroller').DataTable({
						ajax: "@routes.Assets.versioned("../../../public/js/datatables/json/scroller-demo.json")",
						deferRender: true,
						scrollY: 380,
						scrollCollapse: true,
						scroller: true
					});
					var table = $('#datatable-fixed-header').DataTable({
						fixedHeader: true
					});
				});
				TableManageButtons.init();
		</script>
			<!-- form validation -->
		<script type="text/javascript">
				$(document).ready(function() {
					$.listen('parsley:field:validate', function() {
						validateFront();
					});
					$('#connectionTimeoutForm .btn').on('click', function() {
						$('#connectionTimeoutForm').parsley().validate();
						validateFront();
					});
					var validateFront = function() {
						if (true === $('#connectionTimeoutForm').parsley().isValid()) {
							$('.bs-callout-info').removeClass('hidden');
							$('.bs-callout-warning').addClass('hidden');
						} else {
							$('.bs-callout-info').addClass('hidden');
							$('.bs-callout-warning').removeClass('hidden');
						}
					};
				});

				$(document).ready(function() {
					$.listen('parsley:field:validate', function() {
						validateFront();
					});
					$('#demo-form2 .btn').on('click', function() {
						$('#demo-form2').parsley().validate();
						validateFront();
					});
					var validateFront = function() {
						if (true === $('#demo-form2').parsley().isValid()) {
							$('.bs-callout-info').removeClass('hidden');
							$('.bs-callout-warning').addClass('hidden');
						} else {
							$('.bs-callout-info').addClass('hidden');
							$('.bs-callout-warning').removeClass('hidden');
						}
					};
				});
				try {
					hljs.initHighlightingOnLoad();
				} catch (err) {}
		</script>
			<!-- /form validation -->
	</body>

</html>
