@(profileList: java.util.List[org.pac4j.core.profile.CommonProfile])

<!DOCTYPE html>
<html lang="es">

	<head>
		@parts.head("WiFree")
	</head>

	<body class="nav-md">
		<div class="container body">

			<div class="main_container">

				<div class="col-md-3 left_col">
					<div class="left_col scroll-view">

						<div class="navbar nav_title" style="border: 0;">
							<a href="index.html" class="site_title"><i class="fa fa-paw"></i>
								<span>WiFree</span></a>
						</div>
						<div class="clearfix"></div>

						@parts.menu_profile_quickinfo()

						<br />

						@parts.sidebar_menu()
						@parts.menu_footer_buttons()

					</div>
				</div>

				@parts.top_navigation()

				<!-- Page content -->
				<div class="right_col" role="main">
					@parts.top_tiles()

					<div class="row"></div>
					<div class="row"></div>

				</div>
				<!-- /Page content -->

			</div>

		</div>

		@parts.resources_body()

	</body>

</html>