@()

<!-- flot js -->
<!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.pie.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.orderBars.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.time.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/date.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.spline.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.stack.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/curvedLines.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.resize.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/flot/jquery.flot.tooltip.min.js")"></script>